body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background: white;
  color: black;
}
header {
  background-color: green;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
}

nav {
  margin-top: 10px;
}

main {
  display: grid;
  gap: 20px;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
}

nav a:hover {
  background-color: green;
  border-radius: 5px;
}
.kocsik {
  background: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  width: 300px;
  min-width: 250px;
  box-shadow: 0 2px 5px black;
}
.kocsik img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.kocsi-images {
  gap: 10px;
  max-width: 300px;
}
.kocsi-images img{
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 15px;
    background-color: white;
}
footer a {
    color: lightgreen;
    text-decoration: none;
    font-weight: bold;
}
